h1 {
    font-size: 2em;
    font-weight: lighter;
    margin-top: .5em;
    margin-bottom: -.2em;
    padding-bottom: 0em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 2em;
}

p {
    text-align: justify;
    font-size: 1em;
    line-height: 1.4;
}

ul {
    padding-left: 1em;
}

li {
    margin: 1em;
}

body {
    background-color: rgb(240,240,240);
    font-family: courier;
    margin: 0%;
}

main {
    max-width: 45em;
    background-color: rgb(255,255,255);
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}


section {
    margin: auto;
    width: 90%;
    display: block;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

address {
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    display: flex;
}

#phone {
    flex-direction: row;
    display: flex;
    margin-right: auto;
}

#email {
    flex-direction: row;
    display: flex;
    margin-left: auto;
}

#emailtext {
    margin: 0em;
    line-height: 1;
}

my-street {
  flex-direction: row;
  display: flex;
}

#skills {
  width: 93%;
}
